<h1>Creación de Lanzamiento</h1>
<br>
<form action="/admin/lanzamientos/alta" method="post" enctype="multipart/form-data">

  <!-- var nombre = req.body.nombre;
  var descripcion = req.body.descripcion;
  var rutaImagen = req.body.rutaImagen;
  -->
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre" />
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <textarea type="text" class="form-control" name="descripcion" aria-label="With textarea"></textarea>
  </div>


    <div class="mb-3">

    
    <label for="artista" class="form-label">Artista</label>

    <select class="form-select" name="artistaIdCreado" aria-label="seleccion artista">
      <option value="undefined" selected>Seleccione un artista...</option>
      {{#each artistas}}
        <option value="{{this.id}}">{{this.nombre}}</option>  
      {{/each}}

    </select>

  </div>

  <div class="mb-3">

    <label for="genero" class="form-label">Genero</label>

    <select class="form-select" name="generoIdCreado" aria-label="seleccion genero">
      <option value="undefined" selected>Seleccione un genero...</option>
      
      {{#each generos}}
        <option value="{{this.id}}">{{this.nombre}}</option>  
      {{/each}}

    </select>
  
  </div>

  <div class="mb-3">

    <label for="formFile" class="form-label">Cargar canción...</label>
    <input class="form-control" type="file" name="rutaAudio" accept="audio/*"/>

  </div>

  <div class="mb-3">

    <label for="formFile" class="form-label">Cargar imagen...</label>
    <input class="form-control" type="file" id="imagen" name="rutaImagen" onchange="previewImage();"
    accept="image/*"/>
    <br><br>
    <br><br>
    <h2>Previsualizacion...</h2>
    <img id="preview">

  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
  {{#if errorCreacion}}
    <div
      class="p-3 text-danger-emphasis text-danger text-center bg-danger-subtle border border-danger-subtle rounded-3"
    >Hubo un error en la creacion</div>
  {{/if}}
</form>