<form action="/admin/artistas/alta"  method="post"  enctype="multipart/form-data">

  <!-- var nombre = req.body.nombre;
  var descripcion = req.body.descripcion;
  var rutaImagen = req.body.rutaImagen;
  -->
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre" />
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <input type="text" class="form-control" name="descripcion" />
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Cargar imagen...</label>
    <input class="form-control" type="file" id="imagen" name="rutaImagen" onchange="previewImage();"
    accept="image/*"/>
    <br><br>
    <br><br>
    <h2>Previsualizacion...</h2>
    <img id="preview">
  </div>
  {{#if errorCreacion}}
    <div
      class="p-3 text-danger-emphasis text-danger text-center bg-danger-subtle border border-danger-subtle rounded-3"
    >Hubo un error en la creacion</div>
  {{/if}}
  
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>