<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/mesa.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>

<body>
    <header>

        <div class="holder">
            <img src="/images/logo.png" width="100" alt="Meta-icon" />
            <h1>Mesa.com</h1>
        </div>
        <div class="parte-izq">
            <div class="header-top">
                <button class="user-btn">Log In</button>
                <button class="admin-btn">Admin</button>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="generos.html">Géneros</a></li>
                    <li><a href="lanzamientos.html">Nuevos lanzamientos</a></li>
                    <li><a href="nuevosartistas.html">Artistas emergentes</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Derechos de autor © 2023 Sitio web de descubrimiento de música</p>
    </footer>
    <script src="script.js"></script>
</body>

</html>