<h2 class="titulo-artista-emergente">Artistas Emergentes</h2>
<section id="artistas-emergentes">

  {{#each artistas}}
    <div class="artista">
      <img src="/images/artista/{{this.rutaImagen}}" alt="Artista {{this.nombre}}" />
      <h3>{{this.nombre}}</h3>
      <p>{{this.descripcion}}</p>
    </div>
  {{/each}}

</section>