<h2 class="titulo-artista-emergente">Artistas Emergentes</h2>
<section id="artistas-emergentes">

  <div class="artista">
    <img src="/images/artista/artista3.png" alt="Artista 1" />
    <h3>Nombre del Artista 1</h3>
    <p>Descripción del Artista 1</p>
    <button class="btn">Ver más</button>
  </div>
  <div class="artista">
    <img src="/images/artista/artista2.png" alt="Artista 2" />
    <h3>Nombre del Artista 2</h3>
    <p>Descripción del Artista 2</p>
    <button class="btn">Ver más</button>
  </div>
  <div class="artista">
    <img src="/images/artista/artista4.png" alt="Artista 3" />
    <h3>Nombre del Artista 3</h3>
    <p>Descripción del Artista 3</p>
    <button class="btn">Ver más</button>
  </div>
  <div class="artista">
    <img src="/images/artista/artista4.png" alt="Artista 3" />
    <h3>Nombre del Artista 3</h3>
    <p>Descripción del Artista 3</p>
    <button class="btn">Ver más</button>
  </div>
  <div class="artista">
    <img src="/images/artista/artista4.png" alt="Artista 3" />
    <h3>Nombre del Artista 3</h3>
    <p>Descripción del Artista 3</p>
    <button class="btn">Ver más</button>
  </div>
</section>