<section id="generos">
  <h2>Géneros</h2>
  <ul>
    <!--nombre	descripcion	fechaAlta	rutaImagen -->
    {{#each generos}}
      <li>
        <img
          src="/images/generos/{{this.rutaImagen}}"
          alt="genero {{this.nombre}}"
        />
        <div>
          <h3>{{this.nombre}}</h3>
          <p>
            {{this.descripcion}}
          </p>
        </div>
      </li>
    {{/each}}
  </ul>
</section>