<section id="generos">
  <h2>Géneros</h2>
  <ul>
    <li>
      <img src="/images/generos/rock.png" alt="Rock" />
      <div>
        <h3>Rock</h3>
        <p>
          El rock es un género musical que se originó en los Estados Unidos en
          la década de 1950 y se ha expandido a nivel mundial. Es conocido por
          sus guitarras eléctricas, su ritmo enérgico y su estilo rebelde.
        </p>
      </div>
    </li>
    <li>
      <img src="/images/generos/pop.jpg" alt="Pop" />
      <div>
        <h3>Pop</h3>
        <p>
          El pop es un género musical que se originó en la década de 1950 y se
          caracteriza por su enfoque en la canción y la producción de alta
          calidad. Es conocido por su ritmo pegadizo y sus letras simples pero
          efectivas.
        </p>
      </div>
    </li>
    <li>
      <img src="/images/generos/hiphop.png" alt="Hip hop" />
      <div>
        <h3>Hip hop</h3>
        <p>
          El hip hop es un género musical que se originó en los Estados Unidos
          en la década de 1970 y se ha expandido a nivel mundial. Se caracteriza
          por su ritmo enérgico, sus rimas y su estilo urbano.
        </p>
      </div>
    </li>
    <li>
      <img src="/images/generos/jazz.jpg" alt="jazz" />
      <div>
        <h3>Jazz</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum amet
          nostrum similique, impedit, consequuntur vitae illum id quas ab,
          temporibus earum dicta sequi aperiam quis atque velit! Eaque, placeat
          adipisci?
        </p>
      </div>
    </li>
    <li>
      <img src="/images/generos/electronic.jpg" alt="electronic" />
      <div>
        <h3>Electronic</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla
          possimus blanditiis error deserunt! Neque blanditiis deleniti
          sapiente, impedit earum est facere hic sit, aperiam recusandae,
          similique natus laborum rerum?
        </p>
      </div>
    </li>
    <li>
      <img src="/images/generos/raggea.png" alt="reggae" />
      <div>
        <h3>Reggae</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eveniet
          excepturi molestiae velit neque? Fuga officia quod ullam numquam, quam
          pariatur quas quae aperiam atque harum vero nihil similique
          laudantium!
        </p>
      </div>
    </li>
    <li>
      <img src="/images/generos/metal.jpg" alt="metal" />
      <div>
        <h3>Metal</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni aliquid expedita mollitia qui debitis accusamus voluptatibus autem quibusdam
          non. Nisi ipsam illum odit reiciendis magnam fuga consequuntur.
          Magnam, quia corporis!
        </p>
      </div>
    </li>

<!--nombre	descripcion	fechaAlta	rutaImagen -->
    {{#each generos}}
    <li>
      <img src="/images/generos/{{this.rutaImagen}}" alt="genero {{this.nombre}}" />
      <div>
        <h3>{{this.nombre}}</h3>
        <p>
          {{this.descripcion}}
        </p>
      </div>
    </li>
    {{/each}}
  </ul>
</section>