<section id="lanzamientos">
  <h2>Lanzamientos</h2>
  <ul>

    {{#each lanzamientos}}
      <li>
        <img src="/images/lanzamiento/{{this.rutaImagen}}" alt="Lanzamiento {{this.nombre}}"/>
        <h3>{{this.nombre}}</h3>
        <p>{{this.artistaNombre}}</p>
        <a href="#" class="btn-escuchar">Escuchar</a>
      </li>
    {{/each}}
  </ul>
</section>