<section id="lanzamientos">
  <h2>Lanzamientos</h2>
  <ul>

    {{#each lanzamientos}}
      <li>
        {{{this.imagen}}}
        <h3>{{this.nombre}}</h3>
        <p>{{this.artistaNombre}}</p>
        <a href="#" class="btn-escuchar">Escuchar</a>
      </li>
    {{/each}}
  </ul>
</section>